#cell {
	min-height: .1px; 
	min-width: .1px;
	background: black;
	border: .1px solid  white;
	border-radius: 0;
}

#cell:hover {
	background: black;
}

#cell_green {
	min-height: .1px; 
	min-width: .1px;
	background: green;
	border: .1px solid  white;
	border-radius: 0;
}

#menu_buttons {
	background-color: black;
	color: white;
}

#menu_buttons:hover {
	background-color: green;
}